@use 'styles/shared' as *;

.info-box--expanded {
  left: var(--boxLeftOffet);

  @include md {
    bottom: 101px;
  }

  .info-box {
    &__container {
      border-radius: 8px;
      height: 300px;
      width: 412px;
    }

    &__content {
      position: absolute;
      transition: transform 300ms 200ms cubic-bezier(0, 0, 0, 1), opacity 300ms 200ms cubic-bezier(0, 0, 0, 1);
      transform: translateY(0);
    }

    &__header {
      margin-bottom: 24px;
      line-height: 40px;
    }

    &__header--short-info {
      display: none;
    }
    &__plus-button {
      display: none;
    }
  }
}
