@use 'styles/shared' as *;

.info-box--collapsed {
  padding: 0 23px;

  .info-box {
    &__container {
      border-radius: 50%;
      display: grid;
      place-content: center;
      position: absolute;
      bottom: -2.2em;
    }

    &__content {
      font-size: 26px;
      opacity: 0;
      visibility: hidden;
    }

    &__header {
      font-size: 26px;
      margin: 0 0 22px;
    }
  }
  .additional-info {
    font-size: 26px;

    &__old-price {
      display: none;
    }
  }
}
