@use 'styles/shared' as *;

.info-box--collapsed {
  padding: 0 20px;

  @include md {
    padding: 0 23px;
  }

  .info-box {
    &__container {
      border-radius: 50%;
      display: grid;
      margin: 0 15px;
      place-content: center;

      @include md {
        bottom: -2.2em;
        position: absolute;
        margin: 0;
      }
    }

    &__content {
      font-size: 26px;
      opacity: 0;
      visibility: hidden;
    }
  }
  .additional-info {
    font-size: 20px;

    @include md {
      font-size: 26px;
    }

    &__old-price {
      display: none;
    }
  }
}
