@use 'styles/shared' as *;
@use './infoBoxExpanded.scss';
@use './infoBoxCollapsed.scss';

.info-box {
  color: $white-100;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__container {
    background-color: $red-400;
    transition: border-radius 300ms, height 300ms, width 300ms;
  }

  &__content {
    position: absolute;
    transform: translateY(20px);
  }

  &__header {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    padding: 0;
  }

  &__footer {
    display: flex;
    margin-top: auto;
  }

  &__plus-button {
    color: $white-100;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
